.topFixedBanner {
  background-image: url("../images/banner.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.topBannerOverlay {
  position: absolute;
  min-height: 500px;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.topContent {
  margin-top: 12rem;
}

.topTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3rem;
}

.topSubTitle {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.serviceMainTitle {
  color: #0073e6;
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.serviceName {
  font-family: "Raleway", sans-serif;
}

.navBackground {
  -webkit-transition: background-color 400ms linear;
  -moz-transition: background-color 400ms linear;
  -o-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
  background-color: rgba(0, 0, 0, 0);
}

.navTitle {
  font-family: "Montserrat", sans-serif;
  color: white !important;
  font-weight: 700;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.navTitle::before {
  content: url("../images/navlogo.svg");
  margin-right: 8px;
}

.navBackgroundScroll {
  -webkit-transition: background-color 400ms linear;
  -moz-transition: background-color 400ms linear;
  -o-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
  background-color: white;
}

.navTitleScroll {
  font-family: "Montserrat", sans-serif;
  color: #0073e6 !important;
  font-weight: 700;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.navTitleScroll::before {
  content: url("../images/navlogoScroll.svg");
  margin-right: 8px;
}

.navItem {
  text-decoration: none !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: white !important;
}
.navItemScroll {
  text-decoration: none !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: black !important;
}

.analysisText {
  text-align: justify;
  font-weight: 400;
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}
